@font-face {
   font-family: 'Zen Antique';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/USER-PC/Documents/Websites/NovaFlux%20Tech/fonts/Zen Antique/regular.ttf') format('truetype');
}
