@font-face {
   font-family: 'Orbitron-VariableFont_wght';
   font-display: swap;
   src: url('file:///C:/Users/USER-PC/Documents/Websites/NovaFlux%20Tech/fonts/Orbitron-VariableFont_wght/font.ttf');
}
