@font-face {
   font-family: 'Exo2-VariableFont_wght';
   font-display: swap;
   src: url('file:///C:/Users/USER-PC/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-05-11_130622/fonts/Exo2-VariableFont_wght/font.ttf');
}
